In [14]:
import matplotlib

font = {'family' : 'sans',
        'weight' : 'normal',
        'size'   : 18}

matplotlib.rc('font', **font)

In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('disruptions-2011-2018.csv')

In [17]:
df.head()

,rdt_id,ns_lines,rdt_lines,rdt_lines_id,rdt_station_names,rdt_station_codes,cause_nl,cause_en,statistical_cause_nl,statistical_cause_en,cause_group,start_time,end_time,duration_minutes
0,1,Deventer-Amersfoort,Amersfoort - Apeldoorn,50,NaN,NaN,op last van de politie,by police orders,op last van de politie,by police orders,external,2011-01-03 23:22:50,2011-01-04 01:35:03,132.0
1,4,Ede-Wageningen-Amersfoort,Amersfoort - Ede-Wageningen,47,NaN,NaN,op last van de politie,by police orders,op last van de politie,by police orders,external,2011-01-04 00:23:13,2011-01-04 01:35:03,72.0
2,5,Roosendaal-Breda,Breda - Roosendaal,20,NaN,NaN,koperdiefstal,copper theft,koperdiefstal,copper theft,external,2011-01-04 06:30:02,2011-01-04 10:05:01,215.0
3,6,Eindhoven-Venlo,Eindhoven - Venlo,65,NaN,NaN,aanrijding met een persoon,person hit by a train,aanrijding met een persoon,person hit by a train,accidents,2011-01-04 07:30:03,2011-01-04 11:00:08,210.0
4,7,Utrecht Centraal-Leiden Centraal,Leiden Centraal - Utrecht Centraal,147,NaN,NaN,defecte trein,broken down train,defecte trein,broken down train,rolling stock,2011-01-04 07:30:03,2011-01-04 08:50:02,80.0

First thoughts:

Maybe we could predict the duration of an event based on: location, cause, day, etc.

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23969 entries, 0 to 23968
Data columns (total 14 columns):
rdt_id                  23969 non-null int64
ns_lines                23969 non-null object
rdt_lines               22619 non-null object
rdt_lines_id            22619 non-null object
rdt_station_names       9088 non-null object
rdt_station_codes       9088 non-null object
cause_nl                23784 non-null object
cause_en                23784 non-null object
statistical_cause_nl    23784 non-null object
statistical_cause_en    23784 non-null object
cause_group             23967 non-null object
start_time              23969 non-null object
end_time                23967 non-null object
duration_minutes        23967 non-null float64
dtypes: float64(1), int64(1), object(12)
memory usage: 2.6+ MB

In [19]:
df.describe()

             rdt_id  duration_minutes
count  23969.000000      23967.000000
mean   13134.207435        155.901323
std     7102.761187        671.947011
min        1.000000          0.000000
25%     7245.000000         34.000000
50%    13240.000000         83.000000
75%    19243.000000        163.000000
max    25235.000000      64927.000000

In [20]:
df.describe(include='O')

,ns_lines,rdt_lines,rdt_lines_id,rdt_station_names,rdt_station_codes,cause_nl,cause_en,statistical_cause_nl,statistical_cause_en,cause_group,start_time,end_time
count,23969,22619,22619,9088,9088,23784,23784,23784,23784,23967,23969,23967
unique,2295,500,497,1139,1135,84,83,84,82,9,23935,23404
top,Rotterdam-Breda (HSL),Breda - Rotterdam Centraal (HSL),15,"Breda,Rotterdam Centraal","BD, RTD",defecte trein,broken down train,defecte trein,broken down train,infrastructure,2013-08-21 20:15:01,2011-07-02 09:52:02
freq,418,586,586,433,433,5555,5555,5603,5603,8328,2,4

Possibly add the features: day of the week and hour of the day for the start time. End time is not known when predicting.